.main-page {
  box-shadow: 0px -5px 5px -5px rgba(37, 245, 245, 0.5);
  margin-left: 95px !important;
  min-height: 600px;
}

.hidden-element {
  display: none !important;
}

.no-select {
  user-select: none;
}
